.shadower {
	@apply bg-black/50 absolute top-0 bottom-0 right-0 left-0 h-full w-full;
	z-index: 5;
}

.actionsWrapper {
	border: 1px solid transparent;
	cursor: default;

	&>* {
		opacity: 0.7;
	}

	@apply absolute top-3 left-3 z-10 p-3 bg-black/75 flex gap-2 px-4 rounded-full transition-all;

	&:hover {
		border: 1px solid rgba(0, 255, 119, 0.574);
	}

	&>*:hover {
		opacity: 1;
	}
}

.video_item {
	border: 1px solid transparent;
	max-width: 200px;

	&:hover {
		border: 1px solid #ffffff37;
	}

	@apply relative rounded-2xl overflow-hidden flex flex-col cursor-pointer transition-all duration-300;
	background-color: #252836;
	box-shadow: 0 3px 12px rgba(0, 0, 0, 0.03);

	&.small {
		.information {
			.name {
				@apply mt-3;

				font-size: 1.1rem;
				-webkit-line-clamp: 1;
			}
		}
	}

	.thumbnail {
		@apply relative;
		min-height: 150px;
		height: 100%;

		img {
			width: auto;
			height: 100%;
			object-fit: cover;
		}

		>time {
			@apply rounded-md absolute text-white flex items-center justify-center text-xs w-16 h-6 right-1.5 top-1.5;
			background-color: rgba(0, 0, 0, 0.5);

			&.bottom {
				@apply top-auto bottom-3 right-3;
			}
		}
	}



	.information {
		@apply p-4;



		.author {
			@apply font-normal text-gray-500;
			font-size: 1.15rem;
		}

		.name {
			@apply text-white font-medium my-2.5;
			// height: 2rem;
			font-size: 1.3rem;
			overflow: hidden;
			display: -webkit-box;
			-webkit-line-clamp: 1;
			-webkit-box-orient: vertical;
		}
	}
}

.number_info {
	@apply flex items-center;

	>div {
		@apply text-xs text-gray-500;
	}
}

.large_item {
	max-width: none;

	.information {
		@apply z-10 absolute p-7;
		max-width: 17rem;
		background-color: rgba($color: #000000, $alpha: .5);
		border-radius: 0 15px 15px 0;

		.authorLinkWraper {}

		.authorLink {
			@apply flex items-center gap-4 transition-all duration-300 inline-block py-1 px-3;

			border: 1px solid #ffffff55;
			border-radius: 10px;

			&:hover {
				@apply bg-primary;
			}
		}

		.name {
			@apply text-lg leading-snug mb-8 mt-0;
			-webkit-line-clamp: 3;
		}

		.author {
			@apply text-white text-tiny;
		}

		.number_info {
			@apply mt-1;

			>div {
				@apply text-white text-opacity-90;
			}
		}
	}

	.thumbnail {
		@apply relative flex items-center;
		height: 22rem;

		&::before {
			@apply w-full h-full absolute top-0 left-0;
			z-index: 1;
			content: '';

			background: linear-gradient(90deg,
					rgba(#16151f, 0.6) 2%,
					rgba(#16151f, 0.5) 9%,
					rgba(#16151f, 0.4) 16%,
					rgba(#16151f, 0.3) 23%,
					rgba(#16151f, 0.2) 30%,
					rgba(#16151f, 0.14) 37%,
					rgba(#16151f, 0.1) 39%,
					rgba(#16151f, 0) 40%);
		}

		.bg-image {
			@apply object-center object-cover pointer-events-none;
		}
	}
}